a {
	text-decoration: none;
	color: #000000;
}

a, a:visited, a:active {
  color: #000000;
  text-decoration: none;
  border-bottom: 1px #000000 dotted;
}
a:hover {
  color: #424242;
  text-decoration: underline;
  border: none;
}

li {
	list-style: none;
}

.main-nav {
  width:100vh;
  height:2em;
  position:fixed;
  top: 0;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  z-index: 100;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  text-transform: uppercase;
  /*margin-left: -.3em;*/
  margin-left: 1em;
  margin-top: 1em;
}

.main-nav a {
	color: #cccccc;
	text-decoration: none;
	border: none;
}

ul.nav li {    
  margin-right:1em;
  float:right;
  height:100%;
  line-height:5px;
  padding-left: .5em;
}

#content {
	position: relative;
	margin-left: 3em;
	margin-right: 1.5em;
	margin-top: 1em;
	font-size: 2em;
  font-family: 'Open Sans';
} 

#summary {
  height: 100vh;
	/*background: #cccccc;*/
}

#intro {
	font-size: 1.7em;
}

#name {
	color: #CC0000;
	font-weight: 700;
}

#tagline {
	margin-top: .5em;
	/*font-size: 2.3em;*/
	font-weight: 300;
}

#projects {
  height: 100vh;
}

#social {
  height: 100vh;
}